body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  padding: 8px 15px;
  border-radius: 5px;
  font-weight: 500;
  transition: all 0.2s ease;
}
button:hover {
  transform: translateY(-3px);
}
button:active {
  transform: scale(0.99);
}

button.flat {
  background: black;
  color: white;
  font-weight: 600;
}

@import "./reset.css";

